h1 {
    text-align: center;
    font-family: "quicksand";
}

p {
    text-align: center;
    font-family: "quicksand";
    flex-direction: column;
}

.p2 {
    font-family: "quicksand";
    flex-direction: column;
}

details {
    text-align: center;
    font-family: "quicksand";
}

img {
    text-align: center;
}

.box, .box3, .box4 {
    background: linear-gradient(135deg, rgb(255, 215, 50) 10%, rgb(239, 191, 4) 20%, rgb(180, 120, 0) 70%);
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 0 auto;
    width: 750px;
    max-width: 100%;
    min-height: 380px;
    margin-bottom: 20px;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 20px;
}

body {
    background-image: url('../media/pexels-soakedinnirvana-2646237.png');
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

.box2 {
    min-height: 150px;
    max-width: 1500px;
    background: linear-gradient(135deg, rgb(255, 215, 50) 10%, rgb(239, 191, 4) 20%, rgb(180, 120, 0) 70%);
    border: 2px solid white;
    padding: 10px;
    margin: 0 auto 20px auto;
    opacity: 98%;
}

.buttonbhv {
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.buttonbhv:hover {
    background-color:  #dd2f26;
    transform: scale(0.90);
}

.button-container {
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.buttonbhv:hover , .active {
  background-color:  #dd2f26;
  transform: scale(0.90);
}

.button-container form {
    display: inline;
}

.bar {
    width: 250px;
    height: 12px;
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bar-fill {
    height: 100%;
    background: red;
    border-radius: 8px;
}

.car-img {
    width: 450px;
    height: 330px;
    object-fit: cover;
    border-radius: 8px;
}


@media (max-width: 900px) {
    .box, .box3, .box4 {
        width: 95%;
        flex-direction: column;
        text-align: center;
        min-height: auto;
    }

    .car-img {
        width: 100%;
        height: auto;
    }

    .bar {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 480px) {
    .box, .box3, .box4 {
        width: 95%;
        flex-direction: column;
        gap: 10px;
    }

    .car-img {
        width: 100%;
        height: auto;
    }

    .button-container {
        gap: 5px;
    }

    .buttonbhv {
        flex: 1 1 100%;
        max-width: none;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.95em;
    }
}



