


h1 {
    text-align: center;
    font-family: "quicksand";

}

p {
    text-align: center;
    font-family: "quicksand";
}

details {
    text-align: center;
    font-family: "quicksand";
}

img {
    text-align: center;
}


.box {
  max-width: 600px;
  background-color: rgb(255, 221, 0);
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;   
  margin: 0 auto;
  width: fit-content; 
  max-width: 100%; 
  margin-bottom: 20px;
  text-align: left;   
}
.box3 {
  max-width: 600px;
  background-color: rgb(255, 221, 0);
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;   
  margin: 0 auto;
  width: fit-content; 
  max-width: 100%; 
  margin-bottom: 20px;
  text-align: left;   
}
.box4 {
  max-width: 600px;
  background-color: rgb(255, 221, 0);
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;   
  margin: 0 auto;
  width: fit-content; 
  max-width: 100%; 
  margin-bottom: 20px;
  text-align: left;   
}


body {

    background-color: rgb(0, 0, 0);

}

.box2 {
  min-height: 150px;
  max-width: 1500px;
  background-color: rgb(255, 225, 0);
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;   
  margin: 0 auto;
  margin-bottom: 20px;
}

img {

     justify-content: center;
}

.buttonbhv {
  border-radius: 8px; /* makes button round*/
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;              
  justify-content: center;    
  gap: 10px;                  
  padding: 20px;
}

.button-container {
  border-radius: 8px; /* 2 lines makes button round */
  padding: 10px 20px;
  display: flex;            
  justify-content: center;  
  gap: 150px;                 
  margin-top: 20px;           
}

.buttonbhv.active {
  background-color: #d5d5d5;
}

.background{

  background-image: url('pexels-soakedinnirvana-2646237.jpeg'); 
  background-size: cover;      
  background-attachment: fixed;  
  background-position: center;
  filter: blur(5px);          
  height: 100vh;                 
  width: 100%;
  position: fixed;              
  z-index: -1;   
}

.button-container form {
  display: inline;
}