


h1 {
    text-align: center;
    font-family: "quicksand";

}

p {
    text-align: center;
    font-family: "quicksand";
}

details {
    text-align: center;
    font-family: "quicksand";
}

img {
    text-align: center;
}

.box {
  width: 200px;
  height: 100px;
  background-color: rgb(183, 192, 15);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;   
  margin: 0 auto;
}

.button-container {
  display: flex;            
  justify-content: center;  
  gap: 150px;                 
  margin-top: 20px;           
}